/********** Base styles **********/
*{
    box-sizing: border-box;
}
p{
    padding: 8px 8px 0px 8px;
}
h1 {
    text-align: center;
}
h3 {
    border: 1px solid black;
    width: 130px;
    text-align: center;
    float: right;
    margin-block-start: 0;
}
#chicken { 
    color: black;
    background-color: #d59898;
}
#beef { 
    color: white;
    background-color: #c14543;
}
#sushi { 
    color: black;
    background-color: #e5d198;
}
  #d {
    border: 1px solid black;
    background-color: #999999;
  }
.row {
    width: 100%;
}
/********** desktop only **********/
@media (min-width: 992px){
      .col-lg-4 {
        float: left;
        width: 33.33%;
      }
     #d{
        width: 92%;
      }
  }

/********** tablets only **********/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6{
        width: 45%;
    }
    .col-md-12{
        width: 100%;
    }
  }

/********** mobile only **********/
@media (max-width: 767px) {

}